html {
    font-size: 62.5%;
    /*1rem = 10px*/
}

:root {
    --smDis: 10px;
    --mdDis: 20px;
    --lgDis: 30px;
    --xlgDis: 40px;
    --color1: #1D2228;
    --color2: #002E93;
    --color3: #fff;
    --color4: #c4c4c4;
    --fontSize1: 1.8rem;
    --fontSize2: 2.2rem;
    --fontSize3: 2.6rem;
    --font1: 'Cabin', sans-serif;
    ;
    --font2: 'Comfortaa', cursive;
    ;
}


/*========= những rules áp dụng nhiều lần, nhiều nơi*/

body {
    background-color: white;
    font-family: var(--font1);
    font-size: var(--fontSize1);
}

header,
footer {
    background-color: white;
}

svg {
    width: 25px;
    height: 20px;
    fill: black;
}

.reset-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.hor-list {
    display: flex;
}

.hor-list-center {
    display: flex;
    justify-content: center;
}

img,
video {
    max-width: 100%
}

.hinh-logo {
    width: 130px
}

a {
    text-decoration: none
}

.row>*[class="col"] {
    padding-left: var(--mdDis);
    padding-right: var(--mdDis)
}

.page-heading {
    color: #000;
    font-family: var(--font1);
    font-size: var(--fontSize3);
    position: relative;
    margin-bottom: var(--lgDis);
    font-weight: 600;
    margin-top: 10px;
}

.page-heading::before {
    border-radius: 5px;
    content: "";
    background-color: black;
    height: 3px;
    width: 150px;
    position: absolute;
    left: 0;
    bottom: -5px;
}

a {
    text-decoration: none;
}

.row>*[class*="col"] {
    padding-left: var(--mdDis);
    padding-right: var(--mdDis);
}


/*-----------------------*/

header {
    width: 100%;
    height: 80px;
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: 0 1px 1px var(--color3);
    z-index: 999;
}

.pro-block .swiper-wrapper {
    display: block
}

header+* {
    margin-top: 80px
}

.header-inner {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-inner a[href="index.php"] {
    margin-left: auto;
    margin-right: auto;
}

.header-inner button {
    background-color: transparent;
    border: none;
}

#btn-search {
    margin-right: 5px
}

.link-gh {
    position: relative;
    width: 40px;
}

.link-gh svg {
    width: 40px;
}

.link-gh span {
    width: 15px;
    height: 15px;
    /*
  background-color: #FFF;
  border: solid 1px var(--color2);
*/
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-3px, -15px);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.row .banner {
    padding: 0;
}

.banner-truot {
    height: 250px;
}

.banner-truot .b1 {
    background-image: url("banner/banner4.jpg");
}

.banner-truot .b2 {
    background-image: url("banner/banner2.jpg");
}

.banner-truot .b3 {
    background-image: url("banner/banner3.jpg");
}

.banner-truot .b4 {
    background-image: url("banner/banner5.jpg");
}

.banner-truot .swiper-slide {
    background-size: cover;
    background-position: center;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.the-button {
    display: flex;
    justify-content: flex-end;
}

.banner-truot h1 {
    background-color: rgba(0, 0, 0, 0.25);
    padding: var(--mdDis);
    font-family: var(--font1);
    font-size: var(--fontSize3);
    font-weight: 600;
}

.banner-pagination {
    padding: var(--mdDis) 0;
}

.banner-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: solid 1px black;
    background-color: var(--color3);
    opacity: 1;
    transition: width 0.3s, border-radius 0.3s;
}

.banner-pagination .swiper-pagination-bullet-active {
    background-color: black;
    width: 60px;
    border-radius: 5px;
}

.padding-tren-duoi {
    padding-top: var(--mdDis);
    padding-bottom: var(--mdDis)
}

.pro-grid img {
    display: block;
    margin: 0 auto
}

.pro-grid li {
    background-color: #E8E8E8;
    padding: var(--mdDis);
    border-radius: 10px;
}

.pro-grid del {
    display: block;
}

.pro-grid li:not(:last-child) {
    margin-bottom: var(--mdDis);
}

.pro-grid the-buttons {
    display: flex;
    justify-content: flex-end;
}

.pro-grid .btn-buy {
    margin-right: var(--smDis);
}

.pro-grid a {
    color: #000;
}

.pro-grid .the-buttons {
    display: flex;
    justify-content: flex-end;
}

.pro-grid .btn-buy {
    margin-right: var(--smDis);
}

.btn-std {
    padding: var(--smDis);
    border-radius: 5px;
    background-color: white;
}

.btn-buy {
    background-color: black;
    color: #FFF;
    border: solid 1px black;
    margin-right: var(--smDis);
}

.pro-name {
    font-weight: 600;
    font-family: var(--font2);
}

.shop-pagination {
    margin: var(--lgDis) 0;
    color: black;
    align-items: center;
}

.shop-pagination li {
    margin: 0 var(--mdDis);
}

.shop-pagination a {
    background-color: #FFF;
    border: solid 2px black;
    width: var(--xlgDis);
    height: var(--xlgDis);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop-pagination svg {
    fill: black;
}

footer,
footer a {
    color: black;
}

footer svg {
    fill: black;
}

.social-links {
    padding-top: var(--mdDis);
    padding-bottom: var(--mdDis);
}

.footer-color {
    background-color: #F9F9F9;
}

.shop-name p {
    margin-bottom: 0;
}

.footer-menu ul {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-auto-flow: column;
}

.shop-address p {
    margin-bottom: 0;
    margin-top: var(--mdDis);
}

.social-link {
    padding-top: var(--mdDis);
    padding-bottom: var(--mdDis)
}

.shop-name p {
    margin-bottom: 0;
}

.frm-sch {
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    z-index: 99;
    padding: var(--mdDis);
    display: flex;
    align-items: center;
    clip-path: polygon(0 0, 100% 0, 100% 0%, 0% 0%);
    transition: clip-path 0.3s;
}

.frm-sch input:focus {
    outline-color: black;
}

.frm-sch input {
    width: 100%;
    border: solid 2px black;
    border-radius: var(--lgDis);
    padding: var(--smDis) var(--xlgDis) var(--smDis) var(--mdDis)
}

.frm-sch input::-webkit-search-cancel-button {
    color: black;
}

.frm-sch button {
    margin-left: -45px;
}

.frm-sch svg {
    fill: black;
}

.show-search .frm-sch {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

body::after {
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 98;
    clip-path: circle(0% at 0 0);
    transition: clip-path 0.3s;
}

.show-search::after,
.show-menu::after {
    clip-path: circle(150% at 0 0);
}

#btn-search {
    position: relative;
    width: 25px;
    height: 30px;
}

#btn-search svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.the-menu {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 80px;
    transition: clip-path 0.3s;
    z-index: 99;
    clip-path: circle(0% at 00)
}

.the-menu ul {
    display: block
}

.show-menu .the-menu {
    clip-path: circle(150% at 00)
}

.the-menu a {
    color: #FFF;
    display: block;
    padding-top: var(--mdDis)
}

header svg {
    width: 25px;
    height: 30px
}

#btn-search .icon-close rect {
    opacity: 0;
}

.icon-search {
    transition: opacity 0.3s;
}

.header-inner svg rect {
    transition: opacity 0.3s, fill 0.3s, transform 0.3s;
    transform-box: fill-box;
    transform-origin: center
}

.show-search #btn-search .icon-search {
    opacity: 0;
}

.show-search #btn-search .rect-top,
.show-menu #n3v .rect-top {
    opacity: 1;
    fill: black;
    transform: translate(0, 8.5px) rotate(45deg)
}

.show-search #btn-search .rect-bot,
.show-menu #n3v .rect-bot {
    opacity: 1;
    fill: black;
    transform: translate(0, -8.5px) rotate(-45deg)
}

.show-menu #n3v .rect-mid {
    opacity: 0;
}

@media screen and (min-width: 768px) {
    /*	áp dụng từ 768px trở lên	*/
    .header-inner a[href="index.html"] {
        margin-left: 0;
        margin-right: var(--mdDis)
    }
    .frm-sch {
        clip-path: none;
        position: static;
        margin-left: auto;
        width: 60%
    }
    .pro-block .swiper-wrapper {
        display: flex
    }
    /*
  .frm-sch input {
    border: solid 1px var(--color3);
    border-radius: var(--lgDis);
    padding: var(--smDis) var(--lgDis) var(--smDis) var(--mdDis)
  }
  .frm-sch button {
    margin-left: calc(-1 * var(--xlgDis));
  }
  .frm-sch svg {
    fill: var(--color2)
  }
*/
    .banner-truot {
        height: 400px
    }
    .the-menu .swiper-slide {
        width: auto
    }
    .the-menu li {
        padding: 0 var(--mdDis);
        margin: 0;
    }
    .the-menu a {
        color: #000
    }
    .the-menu li:not(:first-child) {
        border-left: solid 1px;
    }
    .pro-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--mdDis)
    }
    .pro-grid li {
        height: auto;
    }
    .pro-grid li:not(:last-child) {
        margin-bottom: 0;
    }
    .shop-pagination a {
        color: black
    }
    .shop-pagination .cur-page a {
        background-color: black;
        color: #FFF
    }
    .social-links .hor-list {
        justify-content: flex-end
    }
    .social-link {
        margin-right: var(--msDis)
    }
    .social-links li {
        margin-left: var(--smDis);
        margin-right: 0;
    }
    .shop-name a [href="index.html"] {
        font-weight: 600
    }
    .shop-address p {
        margin-top: 0
    }
    .the-menu {
        clip-path: none;
        position: static
    }
    .the-menu ul {
        display: flex;
    }
    .the-menu a {
        color: #000;
        padding-top: 0;
    }
    .pro-block .swiper-button-prev,
    .pro-block .swiper-button-next {
        color: black;
    }
    .pro-grid {
        gap: 0
    }
    /* phan sua keycap-truot */
    .sp-truot-holder {
        position: relative;
    }
    .sp-truot-holder .swiper {
        width: 86%;
    }
    /*  */
    .pro-grid li {
        display: grid;
        grid-template-rows: 1fr auto;
        height: auto;
    }
    .pro-grid li>a {
        display: grid;
        grid-template-rows: auto 1fr auto;
    }
}


/*Dau dong 768*/


/*-----------------------*/

@media screen and (min-width: 992px) {
    /*áp dụng từ cỡ 992 trở lên*/
    .banner {
        display: grid;
        grid-template-columns: auto 300px;
        column-gap: var(--mdDis);
    }
    .top-review {
        grid-column: 2/3;
        grid-row: 1/2;
        background-color: #ECECEC;
        padding: var(--mdDis)
    }
    .banner-pagination {
        grid-column: 1/2;
    }
    .top-review img {
        width: 100px;
        height: 100px;
        border-radius: 5px;
        float: left;
        margin-right: var(--mdDis);
        object-fit: cover
    }
    .top-review a {
        display: flow-root;
        color: #000;
    }
    .top-review a:first-child {
        margin-bottom: var(--mdDis);
    }
    .pro-grid {
        grid-template-columns: repeat(3, 1fr)
    }
    .banner-truot {
        width: 100%;
        height: calc(2 * 100px + 3 * var(--mdDis))
    }
    .footer-menu li:nth-child(n+4) {
        grid-column: 2/3
    }
    .footer-menu li:nth-child(n+7) {
        grid-column: 3/4
    }
    .row .banner {
        padding-left: var(--mdDis);
        padding-right: var(--mdDis);
    }
}


/* login va register */

display-flex,
.display-flex,
.display-flex-center,
.signup-content,
.signin-content,
.social-login,
.socials {
    display: flex;
    display: -webkit-flex;
}


/* @extend list-type-ulli; */

list-type-ulli,
.socials {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

figure {
    margin: 0;
}

p {
    margin-bottom: 0px;
    font-size: 15px;
    color: #777;
}

h2 {
    line-height: 1.66;
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #222;
    font-family: Poppins;
    font-size: 36px;
}

.clear {
    clear: both;
}

.container {
    width: 900px;
    background: #fff;
    margin: 0 auto;
    box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -o-border-radius: 20px;
    -ms-border-radius: 20px;
}

.display-flex {
    justify-content: space-between;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -o-justify-content: space-between;
    -ms-justify-content: space-between;
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
}

.display-flex-center {
    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
}

.position-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.signup {
    margin-bottom: 150px;
}

.signup-content {
    padding: 75px 0;
}

.signup-form,
.signup-image,
.signin-form,
.signin-image {
    width: 50%;
    overflow: hidden;
}

.signup-image {
    margin: 0 55px;
}

.form-title {
    margin-bottom: 33px;
}

.signup-image {
    margin-top: 45px;
}

figure {
    margin-bottom: 50px;
    text-align: center;
}

.form-submit {
    display: inline-block;
    background: #6dabe4;
    color: #fff;
    border-bottom: none;
    width: auto;
    padding: 15px 39px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    margin-top: 25px;
    cursor: pointer;
}

.form-submit:hover {
    background: #4292dc;
}

#signin {
    margin-top: 16px;
}

.signup-image-link {
    font-size: 14px;
    color: #222;
    display: block;
    text-align: center;
}

.term-service {
    font-size: 13px;
    color: #222;
}

.signup-form {
    margin-left: 75px;
    margin-right: 75px;
    padding-left: 34px;
}

.register-form {
    width: 100%;
}

.form-group {
    position: relative;
    margin-bottom: 25px;
    overflow: hidden;
}

.form-group:last-child {
    margin-bottom: 0px;
}

input {
    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid #999;
    padding: 6px 30px;
    font-family: Poppins;
    box-sizing: border-box;
}

input::-webkit-input-placeholder {
    color: #999;
}

input::-moz-placeholder {
    color: #999;
}

input:-ms-input-placeholder {
    color: #999;
}

input:-moz-placeholder {
    color: #999;
}

input:focus {
    border-bottom: 1px solid #222;
}

input:focus::-webkit-input-placeholder {
    color: #222;
}

input:focus::-moz-placeholder {
    color: #222;
}

input:focus:-ms-input-placeholder {
    color: #222;
}

input:focus:-moz-placeholder {
    color: #222;
}

input[type=checkbox]:not(old) {
    width: 2em;
    margin: 0;
    padding: 0;
    font-size: 1em;
    display: none;
}

input[type=checkbox]:not(old)+label {
    display: inline-block;
    line-height: 1.5em;
    margin-top: 6px;
}

input[type=checkbox]:not(old)+label>span {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-right: 15px;
    margin-bottom: 3px;
    border: 1px solid #999;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    background: white;
    background-image: -moz-linear-gradient(white, white);
    background-image: -ms-linear-gradient(white, white);
    background-image: -o-linear-gradient(white, white);
    background-image: -webkit-linear-gradient(white, white);
    background-image: linear-gradient(white, white);
    vertical-align: bottom;
}

input[type=checkbox]:not(old):checked+label>span {
    background-image: -moz-linear-gradient(white, white);
    background-image: -ms-linear-gradient(white, white);
    background-image: -o-linear-gradient(white, white);
    background-image: -webkit-linear-gradient(white, white);
    background-image: linear-gradient(white, white);
}

input[type=checkbox]:not(old):checked+label>span:before {
    content: '\f26b';
    display: block;
    color: #222;
    font-size: 11px;
    line-height: 1.2;
    text-align: center;
    font-family: 'Material-Design-Iconic-Font';
    font-weight: bold;
}

.agree-term {
    display: inline-block;
    width: auto;
}

label {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    color: #222;
}

.label-has-error {
    top: 22%;
}

label.error {
    position: relative;
    background: url("../images/unchecked.gif") no-repeat;
    background-position-y: 3px;
    padding-left: 20px;
    display: block;
    margin-top: 20px;
}

label.valid {
    display: block;
    position: absolute;
    right: 0;
    left: auto;
    margin-top: -6px;
    width: 20px;
    height: 20px;
    background: transparent;
}

label.valid:after {
    font-family: 'Material-Design-Iconic-Font';
    content: '\f269';
    width: 100%;
    height: 100%;
    position: absolute;
    /* right: 0; */
    font-size: 16px;
    color: green;
}

.label-agree-term {
    position: relative;
    top: 0%;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
}

.material-icons-name {
    font-size: 18px;
}

.signin-content {
    padding-top: 67px;
    padding-bottom: 87px;
}

.social-login {
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    margin-top: 80px;
}

.social-label {
    display: inline-block;
    margin-right: 15px;
}

.socials li {
    padding: 5px;
}

.socials li:last-child {
    margin-right: 0px;
}

.socials li a {
    text-decoration: none;
}

.socials li a i {
    width: 30px;
    height: 30px;
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    transform: translateZ(0);
    -moz-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -o-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.socials li:hover a i {
    -webkit-transform: scale(1.3) translateZ(0);
    transform: scale(1.3) translateZ(0);
}

.zmdi-facebook {
    background: #3b5998;
}

.zmdi-twitter {
    background: #1da0f2;
}

.zmdi-google {
    background: #e72734;
}

.signin-form {
    margin-right: 90px;
    margin-left: 80px;
}

.signin-image {
    margin-left: 110px;
    margin-right: 20px;
    margin-top: 10px;
}

@media screen and (max-width: 1200px) {
    .container {
        width: calc( 100% - 30px);
        max-width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        max-width: 1200px;
    }
}

@media screen and (max-width: 768px) {
    .signup-content,
    .signin-content {
        flex-direction: column;
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -o-flex-direction: column;
        -ms-flex-direction: column;
        justify-content: center;
        -moz-justify-content: center;
        -webkit-justify-content: center;
        -o-justify-content: center;
        -ms-justify-content: center;
    }
    .signup-form {
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        /* box-sizing: border-box; */
        padding: 0 30px;
    }
    .signin-image {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 50px;
        order: 2;
        -moz-order: 2;
        -webkit-order: 2;
        -o-order: 2;
        -ms-order: 2;
    }
    .signup-form,
    .signup-image,
    .signin-form,
    .signin-image {
        width: auto;
    }
    .social-login {
        justify-content: center;
        -moz-justify-content: center;
        -webkit-justify-content: center;
        -o-justify-content: center;
        -ms-justify-content: center;
    }
    .form-button {
        text-align: center;
    }
    .signin-form {
        order: 1;
        -moz-order: 1;
        -webkit-order: 1;
        -o-order: 1;
        -ms-order: 1;
        margin-right: 0px;
        margin-left: 0px;
        padding: 0 30px;
    }
    .form-title {
        text-align: center;
    }
}

@media screen and (max-width: 400px) {
    .social-login {
        flex-direction: column;
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -o-flex-direction: column;
        -ms-flex-direction: column;
    }
    .social-label {
        margin-right: 0px;
        margin-bottom: 10px;
    }
}